@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap");

@font-face {
    font-family: "Lato Extended";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Lato-Light.woff2");
    font-display: swap
}

@font-face {
    font-family: "Lato Extended";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lato-Regular.woff2");
    font-display: swap
}

@font-face {
    font-family: "Lato Extended";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Lato-Italic.woff2");
    font-display: swap
}

@font-face {
    font-family: "Lato Extended";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Lato-Bold.woff2");
    font-display: swap
}

@font-face {
    font-family: "Lato Extended";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Lato-BoldItalic.woff2");
    font-display: swap
}

html {
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #c6ccf0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

#menubar {
    background-color: #003594;
    list-style-type: none;
    width: 84px;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    position:fixed;
    top:0;
    left:0;
}

#menubar a {
    text-align: center;
    display: block;
    color: #ffffff;
    border-style: none;
    transition: background-color .3s, padding .3s;
}

#menubar a:hover {
    background-color: rgba(0,0,0,0.2);
}

#menubar a:active {
    background-color: rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}

#menubar a.active {
    background-color: #121212;
}

#menubar a p {
    line-height: 1.4;
    margin: 3px 0 0;
    padding: 0;
    font-size: 0.875rem;
}

#logo-item {
    height: 150px;
    background-image: url("../images/Glee.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    margin-bottom: 10px;
    background-color: #1536a1;
}

.icon-container {
    position: relative;
    width: 48px;
    margin: 0 auto;
    color: #ffb81c;
}


.ic-icon-svg {
    width: 26px;
    display: inline-block;
    vertical-align: middle;
    fill: #ffb81c;
}

#main-wrapper {
    background-color: #121212;
    height: 100%;
    margin-left: 84px;
}

#header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #424344;
    margin: 0 24px;
    min-height: 4.5rem;
    box-sizing: border-box;
}

#sidebar-hamburger {
    margin-right: 12px;
    padding: 0;
    width: 36px;
    height: 30px;
    border-color: transparent;
    cursor: pointer;
    color: #003594;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

#sidebar-hamburger div {
    height: 2px;
    width: 24px;
    margin-top: 5px;
    margin-left: 4px;
    background-color: #c0c3f8;
}

#sidebar-hamburger div:first-of-type {
    margin-top: 0;
}

#path {
    display: flex;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
}

#path ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

#path ul li {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    font-size: 1.125rem;
}

#path ul li:first-of-type {
    visibility: hidden;
    width: 10px;
    height: 27px;
}

#path ul li+li::before {
    content: "";
    width: 5px;
    height: 9px;
    display: inline-block;
    margin: 0 9px;
    background: url("../images/arrow.svg") no-repeat 50% 50%;
    background-size: 5px 9px;
}

#path ul li:nth-child(2)::before {
    display: none;
}

#path ul li+li:last-of-type a {
    color: #ffffff;
}

#path ul li a .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    line-height: inherit;
    max-width: 100px;
}

#right-of-path {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    align-items: center;
}

#main {
    margin-left: 192px;
    flex: 1 0 auto;
    min-width: 1px;
    position: relative;
    box-sizing: border-box;
}

#sidebar1 {
    display:block;
    overflow: visible;
    opacity: 1;
    transform: translate3d(0,0,0);
    bottom: 0;
    padding: 0;
    transition: transform 1s ease-in-out;
    transition-delay: .75s;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 100%;
    width: 192px;
}

#sidebar2 {
    border-top: 0 !important;
    position: sticky;
    top: 0;
    max-height: 100vh;
    padding: 24px 12px 4.5rem 24px;
    box-sizing: border-box;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

#sidebar2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar2 ul li {
    padding: 0;
}

#sidebar2 ul li a {
    display: block;
    text-decoration: none;
    padding: 8px 0 8px 6px;
    word-wrap: break-word;
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.3;
}

#sidebar2 ul li a:hover {
    text-decoration: underline;
}

#sidebar2 ul li a:focus {
    outline-offset: .0625rem;
    outline-color: #c6ccf0;
    outline-width: 2px;
    outline-style: solid;
}

#sidebar2 ul li a.active {
    border-left: 2px solid #3d4247;
    border-radius: 0px;
    font-weight: bold;
    color: #d1e1ef;
    padding-left: 4px;
}

#big-wrapper {
    display: flex;
    box-sizing: border-box;
    min-width: 1px;
}

#content-wrapper {
    flex: 1;
    min-width: 1px;
    box-sizing: border-box;
}

#content {
    padding: 36px 48px 48px 48px;
}

#right-side-wrapper {
    display:block;
    position: relative;
    width: 288px;
    padding-left: 24px;
    box-sizing: border-box;
    min-width: 1px;
    padding: 24px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#right-side {
    position: relative;
    min-height: 20px;
}

#events-list {
    margin-top: 18px;
    margin-bottom: 18px;
}

#events-list div {
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid #424344;
    overflow: hidden;
}

#events-list div h2 {
    display: inline-block;
    margin: 0 0 6px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-style: none;
    font-size: 1rem;
    overflow: hidden;
    font-weight: bold;
    line-height: 1.5;
}

#events-list div a {
    float: right;
    font-size: 0.75rem;
    font-weight: normal;
}

#events-list div a::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    background: url("../images/SmallCalendar.svg") no-repeat 50% 50%;
    background-size: 16px 16px;
    vertical-align: middle;
}

#events-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: -6px 0 12px;
}

#events-list ul li {
    margin: 0;
    padding: 0;
}

#events-list ul li small {
    display: block;
    font-size: 0.8125rem;
}

#home-announcements {
    margin: 0 0 1.5rem;
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    display: block;
    overscroll-behavior: auto;
}

#home-announcements h2 {
    margin: 0 0 0.75rem;
    line-height: 1.25;
    font-size: 1.75rem;
    font-weight: 400;
}

.home-announcement {
    box-shadow: 0 -1px #e8eaec, inset 0 -1px #e8eaec;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home-announcement>span {
    margin: 0 0.75rem 0 0;
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    display: block;
    overscroll-behavior: auto;
}

.home-announcement span .circle {
    margin: 0;
    max-width: 100%;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
    overscroll-behavior: auto;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    pointer-events: none;
    text-align: center;
    font-size: 0.75rem;
    white-space: nowrap;
    border-radius: 999rem;
    background-color: #003594;
    width: 0.75rem;
    height: 0.75rem;
}

.home-announcement .author span {
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    overscroll-behavior: auto;
    height: 2.5em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 0;
    text-align: center;
    font-size: 1rem;
    width: 2.5em;
    position: relative;
    border-radius: 100%;
    background-image: url(https://canvas.pitt.edu/images/messages/avatar-50.png);
    border: 0px;
    box-shadow: rgba(45, 59, 69, 0.12) 0px 0px 1rem 0px inset;
}

.home-announcement .content {
    min-width: 0;
    flex-grow: 1;
    margin: 0 22px;
}

.home-announcement .content a {
    display: block;
    outline-width: .125rem;
    outline-color: transparent;
    outline-style: solid;
    color: inherit;
}

.home-announcement .content div {
    width: auto;
}

.home-announcement .content h3 {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 4px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
    overscroll-behavior: auto;
    line-height: 1.25;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home-announcement .content div div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    min-height: 5px;
    max-width: 100%;
}

.home-announcement .content a div span {
    margin: 0.5rem 0 0;
    box-sizing: border-box;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow: visible;
    display: block;
    overscroll-behavior: auto;
}

.home-announcement .content a div span span {
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #aaaaaa;
    letter-spacing: 0px;
    font-size: 1rem;
}

.home-announcement .content a div span span svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    display: inline-block;
    overflow: visible;
    color: inherit;
    vertical-align: middle;
    line-height: 1;
}

.home-announcement .meta {
    display: flex;
    flex-direction: column;
    text-align: right;
}

@media(min-width: 768px) {
    .home-announcement .meta {
        min-width: 230px;
        max-width: 230px;
    }
}

.home-announcement .meta .actions {
    height: 23px;
}

.home-announcement .meta .actions span {
    vertical-align: text-bottom;
    margin-left: 10px;
    margin-right: 2px;
    outline-width: .125rem;
    outline-color: transparent;
    outline-style: solid;
    display: inline-block;
    color: gray;
    cursor: pointer;
}

.home-announcement .meta div+div div>span p {
    font-weight: 600;
    margin: 3px 0 0;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0px;
    font-size: 0.875rem;
}

.home-announcement .meta div+div div span+span p {
    font-weight: normal;
    margin: 3px 0 0;
    font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #bbbbbb;
    letter-spacing: 0px;
    font-size: 0.875rem;
}