{% extends "index.html" %}

{% block path %}
    <li>
        <a href="#">
            <span>Announcements</span>
        </a>
    </li>
{% endblock %}

{% block sidebar_links %}
    {% for link in links %}
        {% if link.type == 'external' %}
            <li><a link-id="{{ link.id }}" href="{{ link.url }}" target="_blank">{{ link.display_name }}</a></li>
        {% elif link.type == 'page' %}
            <li><a link-id="{{ link.id }}" href="{{ url_for('page', id= link.url) }}">{{ link.display_name }}</a></li>
        {% elif link.type == 'internal' %}
            <li><a link-id="{{ link.id }}" href="{{ url_for(link.url) }}">{{ link.display_name }}</a></li>
        {% elif link.type == 'file' %}
            <li><a link-id="{{ link.id }}" href="{{ url_for('file', key= link.url) }}">{{ link.display_name }}</a></li>
        {% else %}
            <li><a link-id="{{ link.id }}">Failed</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block right_display %}
    display: none;
{% endblock %}

{% block calendar_events %}
{% endblock %}

{% block main_content %}
    <div id="announcements">
        {% for announcement in announcements %}
            <div class="announcement">
                <span>
                    <span class="circle"></span>
                </span>
                <div class="author">
                    <span></span>
                </div>
                <div class="content">
                    <a href="{{ url_for('announcement', id= announcement.id) }}">
                        <div>
                            <h3>
                                {{ announcement.title }}
                            </h3>
                        </div>
                    </a>
                    <div class="content-body">
                        {{ announcement.content | safe }}
                    </div>
                </div>
                <div class="meta">
                    <div class="actions">
                        <span></span>
                    </div>
                    <div>
                        <div>
                            <span>
                                <p>Posted on:</p>
                            </span>
                            <span>
                                <p>{{ announcement.date_posted }}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}